shim-version: v0.1.9@sha256:410510c9e8e4c7489dd201fede302dee8455075ca28f4f0abbf84bded943b8f1
cvm-version: 0.4.1
ovmf-version: 0.0.2
cpus: 8
memory: 65536
vllm: false

models:
  - name: "gpt-oss-120b"
    repo: "openai/gpt-oss-120b@a9cc02bbe46b5935075a7cda03be5bb3192daf01"
    mpk: "7614dc03b6dd12cae1ee66d8c89c559803bca7be1a60c6655dca8362b298782e_195764072448_fe214b91-d2bd-5100-b0a1-12c446810ab8"

containers:
  - name: "gpt-oss-120b"
    image: ""
    args: [
      "--runtime", "nvidia",
      "--gpus", "all",
      "--ipc", "host",
      "vllm/vllm-openai:gptoss",
      "--model", "/tinfoil/mpk/mpk-7614dc03b6dd12cae1ee66d8c89c559803bca7be1a60c6655dca8362b298782e",
      "--served-model-name", "gpt-oss-120b",
      "--gpu-memory-utilization", "0.95",
      "--port", "8001"
    ]

shim:
  listen-port: 443
  upstream-port: 8001
  publish-attestation: false
  tls-challenge: dns
  control-plane: https://api.tinfoil.sh
  paths:
    - /v1/chat/completions
    - /metrics
  origins:
    - https://tinfoil.sh
    - https://chat.tinfoil.sh
    - http://localhost:3000
